# hidden files and folders
.vscode/
.venv/
.mypy_cache/
__pycache__/
# rosbags and regression data
bags/
data/
# editor files
*~
# the navigation package that I did not write
taurob_navigation/
# build folders
build/