# system dependencies
wheel

# processing data

# these versions are required,
# mostly because of hard dependencies of GPy
# unversioned packages cause no change in
# computation behavior
rosbags==0.9.13
numpy==1.22.4
pandas==1.4.3
pandas-stubs==1.2.0.59
scipy==1.9.0
matplotlib==3.6.2
scikit-learn==1.2.0
gpy==1.10.0
open3d-cpu==0.17.0 # NOTE: installs plotly
filterpy==1.4.5
PyYAML
types-PyYAML
tqdm

# linting, formatting and typing
mypy
hacking
black
