<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="gui" default="false" />
    <arg name="mbf" default="true" />
    <!-- the simulation & rviz -->
    <include file="$(find gpr_loc_bringup)/launch/bringup.launch">
        <!-- the arguments required to setup the Search and Rescue SLAM -->
        <arg name="sar_world" value="true" />
        <arg name="linear_ctrl" value="false" />
        <arg name="rviz_config_filename" value="gpr_loc_slam.rviz" />
        <!-- whether to start Gazebo GUI as well-->
        <arg name="gui" value="$(arg gui)" />
    </include>
    <!-- the node combining front and rear scans-->
    <include file="$(find gpr_loc_bringup)/launch/include/merge_scans.launch" />
    <!-- the SLAM node (GMapping) -->
    <include file="$(find gpr_loc_bringup)/launch/include/mapping.launch">
        <!-- make the GMapping node subscribe to the merged laser scan topic-->
        <arg name="scan_topic" value="/scan_merged" />
    </include>
    <!-- the move_base setup for navigation (uses flex by default) -->
    <include if="$(eval arg('mbf'))"
        file="$(find gpr_loc_bringup)/launch/include/move_base_flex.launch" />
    <include unless="$(eval arg('mbf'))"
        file="$(find gpr_loc_bringup)/launch/include/move_base.launch" />
</launch>