<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="dir_ccw" default="true" />
    <arg name="use_sim_time" default="true" />
    <!-- remap the linear_controller topics to the EKF and Controller-Node Topics-->
    <remap from="/linear_controller/odom" to="/odom" />
    <remap from="/linear_controller/cmd_vel" to="/taurob_tracker/cmd_vel_raw" />
    <!-- start the linear controller -->
    <node pkg="linear_controller" type="linear_controller_ctrl_node" name="linear_controller">
        <rosparam file="$(find gpr_loc_bringup)/config/controller_parameters.yaml" />
        <!-- load counter-clockwise trajectory -->
        <rosparam if="$(arg dir_ccw)" file="$(find gpr_loc_bringup)/config/trajectory_ccw.yaml" />
        <!-- load clockwise trajectory -->
        <rosparam unless="$(arg dir_ccw)" file="$(find gpr_loc_bringup)/config/trajectory_cw.yaml" />
    </node>
</launch>